.details {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #ababab6b;
    .popup {
        width: 50%;
        max-height: 500px;
        background: #fff;
        margin: 150px auto;
        padding: 20px;
    }
}